hr {
  border: none;
  border-top: 1px solid rgb(189, 176, 176);
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.arrow__left img{
  position: absolute;
  position: fixed;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.module {
  margin-top: 20px;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: rgb(235, 123, 37);
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
  }

  &__topic {
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
  }

  &__lesson {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__content-lesson {
    display: flex;
    // justify-content:space-between;
    gap: 10%;
    // margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .lesson {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__video {
      width: 2000px;
    }

    &__img img {
      height: 300px;
    }

    &__descr {
      // word-break: break-all;
      word-wrap: break-word;
      color: black;
    }

    &__skills {
      color: black;
      // word-break: break-all;
      word-wrap: break-word;
    }

    &__homework {
      margin: 20px;
      padding: 20px 20px;
      background-color: #9f9f9e;
      width: 50%;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-left: auto;
      margin-right: auto;


      &:hover {
        background-color: #989891;

      }
    }

    &__summary {
      margin: 20px;
      padding: 20px 20px;
      background-color: #9f9f9e;
      width: 50%;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-left: auto;
      margin-right: auto;


      &:hover {
        background-color: #989891;

      }
    }
  }
}