.lesson {
  font-size: 1.25rem;
  &__title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
  }

  &__video {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    .video {
      width: 350px;
    }
    .video:nth-child(2) {
      margin-left: auto;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;

    &_summary {
      text-align: center;
    }
    &_deadline {
      border: rgb(151, 146, 146) 2px solid;
      border-radius: 3px;
      padding: 1rem;
      font-size: 1rem;
      .lesson__homework {
        width: auto;
        margin: 2rem;
      }
    }
  }

  &__content {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__text {
    // margin-top: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &_content {
    }
  }

  &__deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    // margin-top: 5%;
    margin-left: auto;
    // margin-bottom: 10%;
    flex: 1;
    width: 500px;
    height: 200px;

    border: rgb(151, 146, 146) 2px solid;
    border-radius: 3px;
  }

  &__homework {
    margin: 20px;
    padding: 20px 20px;
    background-color: #c19adf;
    width: 50%;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #c389f0;
    }
  }

  &__summary {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    // margin: 20px;
    padding: 20px 20px;
    background-color: #c19adf;
    width: 50%;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    // margin-left: auto;
    // margin-left: 10%;

    &:hover {
      background-color: #c389f0;
    }
  }
}

.content {
  margin: 0 4rem;
}

@media (min-width: 1440px) {
  .lesson__grid > div {
    &:nth-child(1) {
      width: 350px;
    }

    &:nth-child(3) {
      width: 320px;
      margin-right: auto;
    }
    &:nth-child(4) {
      width: 315px;
    }
    &:nth-child(5) {
      width: 315px;
    }
  }
}

@media (max-width: 1024px) {
  .lesson {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .lesson {
    &__grid {
      grid-template-columns: 1fr;
    }
    &__content {
      flex-direction: column;
    }
    &__summary {
      margin: 0 auto;
    }
    &__deadline {
      margin: 0 auto;
    }
  }
  .content {
    margin: 0 2rem;
  }
}

@media (max-width: 576px) {
  .lesson {
    &__deadline {
      text-align: center;
      width: auto;
    }
    &__homework {
      width: auto;
    }
    &__video {
      .video {
        width: 100%;
      }
      .video:nth-child(2) {
        margin: 0;
      }
    }
  }
}
