.admin {
  max-width: 800px;

  margin: 0 auto;
  padding: 20px;

  &__title {
    font-size: 24px;
    color: #a5a4a4;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__panel {
    max-height: 400px;
    overflow-y: auto;

    table {
      width: 100%;
      border-radius: 5px;
      background-color: #908d8d;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-weight: bold;
      }

      tr:hover {
        background-color: rgb(174, 172, 172);
      }

      button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        white-space: nowrap;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
  }

  &__prevision,
  &__next {
    color: #3a3634;
    background-color: #908d8d;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
  }

  &__dots {
    color: #3a3634;
  }

  &__pagination-number {
    color: #83817f;
    cursor: pointer;
  }

  .active__number {
    color: rgb(60, 60, 67);
    cursor: pointer;
    font-weight: bold;
  }

  &__registration {
    font-size: 24px;
    color: #a5a4a4;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.signup {
  display: flex;
  background-color: #908d8d;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  // @media screen and (max-width: 400px) {
  //   width: 200px;
  // }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }

  &__label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__password {
    padding: 10px;
    width: 90%;
    margin-bottom: 15px;
    background-color: #676463;
    border: 1px solid rgb(125, 121, 121);
    border-radius: 5px;
    display: flex;

    input {
      background-color: transparent;
      width: 93%;
      border: none;
      outline: none;
    }

    input:focus {
      outline: none;
    }
  }

  &__input {
    padding: 10px;
    width: 90%;
    margin-bottom: 15px;
    background-color: #676463;
    border: 1px solid rgb(125, 121, 121);
    border-radius: 5px;

    input {
      background-color: transparent;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid rgb(125, 121, 121);
    }

    input:focus {
      outline: none;
    }
  }

  p {
    color: rgb(255, 255, 255);
    margin: 5px 0;
  }

  button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;

    margin: 20px auto 0 auto;
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(red, 10%);
    }
  }
}

.modal {
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    text-align: center;
  }
  &__info {
  }

  &__actions {
    display: flex;
  }

  &__button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(red, 10%);
    }

    &.confirm {
      background-color: #09ec42;
      &:hover {
        background-color: darken(#09ec42, 10%);
      }
    }
  }
}
