.module {
  &__content {
    display: flex;
    // justify-content: space-around;
    // margin-left: 15%;
    // margin-right: 15%;
    margin-top: 2rem;
    font-size: 1.25rem;
    gap: 8rem;
  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 1000px;
    flex: 1;
  }

  &__deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    // width: 600px;
    height: 200px;
    flex: 1;
    border: rgb(151, 146, 146) 2px solid;
    border-radius: 3px;
    padding: 1rem;
  }

  &__homework {
    margin: 20px;
    padding: 20px 20px;
    background-color: #c19adf;
    width: 50%;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #c389f0;
    }
  }

  &__summary {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px 20px;
    background-color: #c19adf;
    width: 50%;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    // margin-left: auto;
    // margin-left: 10%;

    &:hover {
      background-color: #c389f0;
    }
  }
}

.lesson {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
    font-size: 1.25rem;
  }

  &__title {
    // margin-left: 10%;
    // margin-right: 10%;
  }

  &__descr {
    // margin-left: 10%;
    // margin-right: 10%;
  }

  &__lesson {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.content {
  margin: 0 4rem;
}

@media (max-width: 1024px) {
  .module {
    &__content {
      gap: 2rem;
    }
  }
  .content {
    margin: 0 2rem;
  }
}

@media (max-width: 768px) {
  .module {
    &__content {
      flex-direction: column;
    }
  }
}

@media (max-width: 576px) {
  .content {
    margin: 0;
  }
}
