.accordion {
  margin: 20px;
  padding: 20px 20px;
  background-color: #ffffff;
  width: 70%;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;

  &__active {
    height: auto;
  }

  &__content {
    padding: 0 20px;
    cursor: auto;
    height: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    // transform: translateY(-100px);
    z-index: -1;
    transition: height 0.7s ease;

    &__active {
      opacity: 1;
      height: 300px;
      visibility: visible;
      
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 30px;
    cursor: pointer;
  }

  &__module {
    color: rgb(166, 166, 5);
    font-weight: bold;
  }

  &__topic {
    color: rgb(15, 15, 14);
    font-size: 22px;
    font-weight: bold;
  }

  &__list {
    color: rgb(166, 166, 5);
    padding: 0;
    margin: 0;

    span {
      color: black;
      font-weight: 500;
      font-size: 14px;
    }

    li {
      padding: 10px 0;

      :last-child {
        border-bottom: none;
      }
    }


  }

  &__arrow {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/arrowDown.svg);
    background-repeat: no-repeat;
    transition: transform 0.3s ease;


    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__button {
    margin: 20px;
    padding: 20px 20px;
    background-color: #84864d;
    width: 50%;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #abab61;
    }
  }
}